<%= link_to "About", about_path %> <!-- either "about" or about_path works -->

<h1>Tracy's Pinterest Project</h1>
<p> Mosaic of Me.
<%= link_to "Sign Up", "http://www.google.com" %> <!-- #another way of a href, to include a link. -->
<%= "I'm cranky" %>
</p>
