 <!-- either "about" or about_path works -->
<div class="jumbotron center">
<h1>Tracy's Pinterest Project</h1>
<p> Mosaic of Me.
<%= link_to "Sign Up", "http://www.google.com", class: "btn btn-primary btn-lg" %> <!-- #another way of a href, to include a link. -->
<%= "I'm cranky" %>
<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
</p>
</div>

